---
import SideNav from '../components/sideNav.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="/src/styles/global.css" />
		<link rel="stylesheet" type="text/css" href="/src/styles/utility.css" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<SideNav />
		<h1>Astro</h1>
	</body>
</html>
